main{
    padding: 10vh;
}
header{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: rgb(197, 197, 249);
    color:rgb(90, 26, 150);
    font-weight: 900;
}
header h1{
    width: 35%;
}
header ul{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
   
}
header ul input{
    width: 15rem;
    height: 1.5rem;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    color: whitesmoke;
    padding-left: 10px;
}
header ul li ul{
    background-color: brown;
}
img[src="images/magnify.svg"]{
    height: 20px;
    width: 20px;
    color: white;
}

img[src="images/5921.jpg"]{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 50%;
}

header ul a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}


footer{
    background-color: rgb(197, 197, 249);
    height: 10vh;
    text-align: center;
}

#library-box, #current-box, #new-box{
    display: flex;
    height: 40vh;
    background-color: rgb(234, 234, 255);
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 5px 5px 10px gray;
}

.card{
    height:30vh;
    width: 20vh;
    background-image:linear-gradient(34deg, brown, gold, rgb(196, 222, 196), purple, whitesmoke);
}

.delBtn{
    height: 2rem;
    width: 5rem;
    background-color: red;
    color: white;
    border-radius: 4px;
    border:0;
}
.info{
    background-color: white;
    height: 15%;
    width: 100%;
}
.arrow{
    height: 40vh;
    background-color: white;
    opacity: 0.25;
    display:flex;
    justify-content:center;
    align-items: center;   
}

.arrow:hover{
    background-color: rgb(189, 143, 232);
   
}

button#add-new,a[href="about.html"],a[href="https://www.amazon.com/amz-books/store?ccs_id=9d8dca00-d3f7-4059-bfe8-6caa49b2adc9"]{
    font-style: none;
    border: 0;
    background-color: rgb(197, 197, 249);
    width: 4rem;
    border-bottom: 2px solid rgb(74, 65, 129);
    color: rgb(90, 26, 150);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    margin-left: 40px;
}

h2{
    color: rgb(90, 26, 150);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
