main{
    padding: 10vh;
}
header{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: rgb(197, 197, 249);
}

img[src="images/magnify.svg"]{
    height: 20px;
    width: 20px;
}

img[src="images/5921.jpg"]{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
header ul{
    display:flex;
    list-style: none;
    align-items: center;
    
}

header ul a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
}


footer{
    background-color: rgb(197, 197, 249);
    height: 10vh;
    text-align: center;
}

#library-box, #current-box, #new-box{
    display: flex;
    height: 40vh;
    background-color: rgb(234, 234, 255);
    justify-content: space-between;
}

.card{
    height: 40vh;
    width: 20vh;
     background-color: white;
}

.delBtn{
    height: 1rem;
    width: 2rem;
    background-color: red;
    color: white;
    border-radius: 4px;
    border:0;
}

.arrow{
    height: 40vh;
    background-color: white;
    opacity: 0.25;
    display:flex;
    /* justify-content:center; */
   align-items: center;
   
  
    
}

.arrow:hover{
    background-color: rgb(189, 143, 232);
   
}